body {
    background-image: url(../img/swirl_pattern.png);
}
.container {
    margin: 25px auto;
    max-width: 960px;
    background-color: #fff;
    box-shadow: 0 2px 2px #aaa;
}
a {
    color: #3c8dbc;
}
a:hover {
    color: #2c6e95;
}
.bg-blue {
    background-color: #3c8dbc !important;
    color: #fff !important;
}
a.bg-blue:hover {
    background-color: #2c6e95 !important;
}
.bg-yellow {
    background-color: #ffeb00;
}
a.bg-yellow:hover {
    background-color: #cebe09 !important;
}
.btn-blue {
    color: #3c8dbc !important;
}
.btn-blue:hover {
    background-color: #3c8dbc !important;
    color: #fff !important;
}
.sub {
    padding: 10px;
    font-size: 20px;
    border-bottom: 1px solid #3c8dbc;
}

.header {
    background: url('../img/Lowpoly_Landscape.jpeg');
    background-size: cover;
    background-position: center;
}
.header {
    padding: 50px;
    text-align: center;
    color: #fff;
}
.header h1 {
    margin: 0;
    padding: 0;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -2px;
    text-shadow: 0 2px 2px #111;
}
.header img {
    width: 100px;
}
.btn-group-vertical {
    background-color: #eee;
    border-radius: 4px;
    box-shadow: 0 2px 2px #aaa;
}
.btn-group-vertical a.btn {
    border-bottom: 2px solid #ddd;
}
.btn-group-vertical a.btn:last-child {
    border-bottom: 0;
}
.post {
    margin-bottom: 20px;
    text-align: justify;
}
.footer {
    margin-top: 20px;
    padding: 20px;
    border-top: 1px solid #ccc;
    text-align: center;
    font-size: 10px;
}