.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #ffeb00;
}
.skin-blue .user-panel>.info,
.skin-blue .user-panel>.info>a,
.skin-blue .sidebar a {
    color: #333;
}
.skin-blue .sidebar-menu>li:hover>a,
.skin-blue .sidebar-menu>li.active>a {
    color: #111;
    background: #ccbd01;
    border-left-color: #534e08;
}
.skin-blue .sidebar-menu>li>.treeview-menu {
    margin: 0;
    background: #e5d305;
}
.skin-blue .treeview-menu>li>a {
    color: #333;
}
.skin-blue .treeview-menu>li.active>a,
.skin-blue .treeview-menu>li>a:hover {
    color: #111;
}
.jumbo {
    text-align: center;
}
.jumbo h3 {
    margin: 0;
    padding: 15px 0;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 2px;
}
.side-filter li a, .side-filter li a i {
    list-style: none;
    color: #fff;
    display: block;
}
.long-table {
    width: 250%;
}
.media-index .img img {
    width: 100%;
}